@font-face {
  font-family: "BespokeStencil-Variable";
  src: url("../fonts/BespokeStencil-Variable.woff2") format("woff2"),
    url("../fonts/BespokeStencil-Variable.woff") format("woff"),
    url("../fonts/BespokeStencil-Variable.ttf") format("truetype");
  font-weight: 300 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "KENOKY Light";
  font-style: normal;
  font-weight: normal;
  src: local("KENOKY Light"), url("../fonts/KenokyLight.ttf") format("woff");
}

body {
  font-family: "KENOKY Light";
  background-color: #eaeaea;
}

.bg-noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
  background-image: url(../img/noise.gif);
}

.container--presentation {
  background-color: black;
  height: 100vh;
}

.nav-bar {
  display: flex;
  width: 52%;
  padding: 20px;
  color: white;
  justify-content: space-between;
}

.left {
  text-align: center;
  line-height: 2rem;
  padding: 20px;
  font-size: 2.2rem;
}

.logo img {
  width: 80%;
  transition: transform 0.8s ease-in-out;
}

.logo img:hover {
  transform: rotate(360deg);
}

a {
  color: white;
  text-decoration: none;
}

.black {
  color: black;
}

.white {
  color: white;
}

.school {
  color: black;
}

.school:hover {
  color: blue;
}

.right {
  position: fixed;
  left: 87vw;
  top: 4vh;
  font-size: 2.2rem;
}

.container--name {
  margin-top: 12%;
}

.name {
  color: white;
  text-align: center;
  font-size: 6vw;
  line-height: 7.5rem;
}

h3,
h1 {
  font-family: "BespokeStencil-Variable";
}

h3 {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 15%;
}

.scroll h3 {
  color: white;
}

h1 {
  text-align: center;
  font-size: 10vw;
  padding: 100px 0 50px;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3rem;
}
.skills,
.social {
  padding: 5vw;
}

.skills h2 {
  text-align: initial;
}

.skills p {
  line-height: 3.3rem;
  font-size: 2.2rem;
}

.social {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: -245px;
  line-height: 2.5rem;
}

.container--me {
  display: flex;
}

.presentation {
  padding-top: 5vw;
  font-family: chillax;
  width: 52%;
  font-size: 2rem;
}

.social a {
  color: black;
  font-size: 2rem;
}

.slide-link {
  overflow: hidden;
  position: relative;
}

.slide-link span {
  display: inline-block;
  transition: transform 0.3s ease-out;
}

.slide-link span:nth-child(2) {
  position: absolute;
  width: 100%;
  left: 100%;
}

.slide-link:hover span {
  transform: translateX(-100%);
}

.horizontal {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #eaeaea;
}

.horizontal h1 {
  justify-content: center;
  margin: auto;
}

.bg-black {
  background: black;
}

.bg-white {
  background: white;
}

.container--works {
  display: flex;
  width: 400vw;
  height: 100vh;
  flex-wrap: nowrap;
  overflow: hidden;
}

.container--horizontal {
  width: 100vh;
  height: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.main-wrapper {
  width: 100%;
  height: auto;
}

.projects {
  opacity: 0;
}

.presentation h2 {
  font-family: "KENOKY Light";
  text-align: initial;
  padding: 50px 0 0 0;
  font-size: 6.5rem;
}

.ml-650 {
  margin-left: 950px;
  margin-bottom: 50px;
  padding-top: 0 !important;
}

.my {
  margin-right: 250px;
}

.img-work {
  width: 50%;
  height: 50%;
  position: relative;
  top: 25%;
  left: 40%;
  display: inline-block;
}

.img-work2 {
  width: 80%;
  height: 50%;
  position: relative;
  top: 25%;
  left: 80%;
  display: block;
}

.bloc-infos-work {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
  left: 33%;
  z-index: 99;
  font-size: 3rem;
  font-family: chillax;
}

.bloc-infos-work h2 {
  font-family: "KENOKY Light";
  font-size: 5rem;
  text-align: start;
}

.container--work--mobile img {
  width: 100%;
}

.container--work--mobile {
  display: flex;
  flex-direction: column;
}

.bloc-project {
  padding: 20px;
}

.bloc-infos-work-mobile {
  padding-top: 20px;
}

@media (max-width: 1025px) {
  .right {
    left: 76vw;
  }
  .container--name {
    margin-top: 20%;
  }

  .scroll {
    margin-top: 28vh;
  }

  .container--me {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  h2 {
    text-align: inherit;
  }

  .social {
    width: 133%;
    margin: 3vh auto;
    /* flex-direction: row; */
  }

  .social a {
    width: 100%;
  }

  .img-work {
    top: 9%;
    width: 100%;
    left: 0%;
  }

  .container--works,
  .container--horizontal,
  .horizontal {
    display: none;
  }

  .presentation h2 {
    font-size: 2.2rem;
  }

  .ml-650 {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .right {
    left: 60vw;
  }

  .left {
    padding: 0px;
  }

  .nav-bar {
    width: 55%;
  }

  .nav-bar h4 {
    font-size: 24px;
  }

  .scroll {
    margin-top: 30vh;
  }

  .container--name {
    margin-top: 35%;
  }

  .presentation {
    width: 80%;
  }

  .skills {
    padding: 20vw;
  }
  .social {
    width: 90%;
    margin-left: 15%;
    flex-direction: row;
    padding: 0;
  }
}

@media (max-width: 405px) {
  .nav-bar h4,
  .right {
    font-size: 14px;
  }

  .logo img {
    width: 50%;
  }

  .nav-bar {
    width: 68%;
  }

  .right {
    top: 3vh;
    left: 33vh;
  }

  .social {
    flex-direction: column;
  }

  .social a {
    font-size: 4rem;
    padding: 15px;
  }
}
