@font-face {
  font-family: "BespokeStencil-Variable";
  src: url("../fonts/BespokeStencil-Variable.woff2") format("woff2"),
    url("../fonts/BespokeStencil-Variable.woff") format("woff"),
    url("../fonts/BespokeStencil-Variable.ttf") format("truetype");
  font-weight: 300 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "KENOKY Light";
  font-style: normal;
  font-weight: normal;
  src: local("KENOKY Light"), url("../fonts/KenokyLight.ttf") format("woff");
}

body {
  font-family: "KENOKY Light";
}

.bg-noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.02;
  z-index: 1000;
  pointer-events: none;
  background-image: url(../img/noise.gif);
}

.container--presentation {
  background-color: black;
  height: 100vh;
}

.container--about,
.container--works {
  background-color: #eaeaea;
}

.nav-bar {
  display: flex;
  width: 57%;
  padding: 20px;
  color: white;
  justify-content: space-between;
}

.left {
  text-align: center;
  line-height: 1.4rem;
}

.logo img {
  width: 50%;
}

a {
  color: white;
  text-decoration: none;
}

.black {
  color: black;
}

.white {
  color: white;
}

.school {
  color: black;
}

.school:hover {
  color: blue;
}

.right {
  position: fixed;
  left: 87vw;
}

.container--name {
  margin-top: 9%;
}

.name {
  color: white;
  text-align: center;
  font-size: 6vw;
  line-height: 5.5rem;
}

h3,
h1 {
  font-family: "BespokeStencil-Variable";
}

h3 {
  text-align: center;
  font-size: 3vw;
  margin-top: 9%;
}

.about h3 {
  color: white;
}

h1 {
  text-align: center;
  font-size: 10vw;
  padding: 100px 0 50px;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.skills,
.social {
  padding: 5vw;
}

.skills p {
  line-height: 1.3rem;
}

.social {
  display: flex;
  flex-direction: column;
  width: 7%;
  margin-top: -128px;
}

.container--me {
  display: flex;
}

.presentation {
  padding-top: 5vw;
  text-align: justify;
  font-family: chillax;
  line-height: 1.1rem;
  width: 55%;
}

.social {
  line-height: 1.7rem;
}

.social a {
  color: black;
}
